@forward './transitions.scss';

// Fonts
// @font-face {
//   font-family: 'Satoshi';
//   src: url('/fonts/Satoshi-Variable.ttf') format('truetype-variations');
//   font-weight: 1 1000;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Satoshi';
//   src:
//     url('/fonts/Satoshi-VariableItalic.ttf') format('truetype-variations'),
//     url('/fonts/Satoshi-VariableItalic.ttf') format('woff2');
//   font-weight: 1 1000;
//   font-style: italic;
//   font-display: swap;
// }

@font-face {
  font-family: 'Rubik';
  src:
    url('/fonts/Rubik-VariableFont.woff2') format('woff2-variations'),
    url('/fonts/Rubik-VariableFont.woff2') format('woff2');
  font-weight: 1 1000;
  font-style: normal;
  font-display: swap;
}
// @font-face {
//   font-family: 'Satoshi';
//   src:
//     url('/fonts/satoshi-variable.woff2') format('woff2-variations'),
//     url('/fonts/satoshi-variable.woff2') format('woff2');
//   font-weight: 1 1000;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Satoshi';
//   src:
//     url('/fonts/satoshi-variableItalic.woff2') format('woff2-variations'),
//     url('/fonts/satoshi-variableItalic.woff2') format('woff2');
//   font-weight: 1 1000;
//   font-style: italic;
//   font-display: swap;
// }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:
    'Rubik',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}
html,
:root {
  background-color: #000000;
}

.highlight-transparent,
.highlight-none {
  -webkit-tap-highlight-color: transparent;
}

.tap,
.tap99,
.tap97,
.tap95 {
  transition-duration: 100ms;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.tap {
  &:active {
    scale: 0.95;
  }
}

.tap99 {
  &:active {
    scale: 0.99;
  }
}

.tap97 {
  &:active {
    scale: 0.97;
  }
}

.tap95 {
  &:active {
    scale: 0.95;
  }
}

.h-dvh {
  height: 100vh;
}

.no-input-arrow {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.stacked {
  display: grid;
  place-items: center;
  isolation: isolate;
}
.stacked > * {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

// react-video
.video-react-big-play-button {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  background-color: transparent !important;
  border: none !important;
}

.video-react-big-play-button::before {
  font-size: 3.5rem !important;
  filter: drop-shadow(0rem 0rem 1.5rem rgba(0, 0, 0, 1)) !important;
  // box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 1) !important;
}

// end react-video
