@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight-transparent{
  -webkit-tap-highlight-color: transparent;
}

.tap,
.tap99,
.tap97,
.tap95 {
  transition-duration: 100ms;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.tap {
  &:active {
    scale: 0.95;
  }
}

.tap99 {
  &:active {
    scale: 0.99;
  }
}

.tap97 {
  &:active {
    scale: 0.97;
  }
}

.tap95 {
  &:active {
    scale: 0.95;
  }
}

.h-dvh{
  height: 100vh;
}
