// View Transition Animations
.logo-long {
  view-transition-name: logo-long;
}
.button-full {
  view-transition-name: button-full;
}
.profile-picture {
  view-transition-name: profile-picture;
}
.mobile-input {
  view-transition-name: mobile-input;
}

.login-with {
  view-transition-name: login-with;
}

.bottom-text {
  view-transition-name: bottom-text;
}

.bottom-link {
  view-transition-name: bottom-link;
}
